html {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0px auto;
    text-align: center;
    color: #444444;
}

body {
    margin: 0px;
}

h1 {
    margin: 50px auto 30px;
}

.side-by-side {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.text {
    font-weight: 600;
    font-size: 19px;
    width: 200px;
}

.reading {
    font-weight: 300;
    font-size: 50px;
    padding-right: 25px;
}

.temperature .reading {
    color: #F29C1F;
}

.humidity .reading {
    color: #3B97D3;
}

.BPM .reading {
    color: #FF0000;
}

.SpO2 .reading {
    color: #955BA5;
}

.bodytemperature .reading {
    color: #F29C1F;
}

.superscript {
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: 10px;
}

.data {
    padding: 10px;
}

.container {
    display: table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: transparent;
    border-radius:2%;
    margin: 0 auto;
    padding: 5px;
}

.icon {
    width: 65px
}
.circular{
    height:100px;
    width: 100px;
    position: relative;  
    border: green 1px;

  }
  .circular .inner{
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: white;
    border-radius: 100%;
  }
  .circular .number{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-size:18px;
    font-weight:500;
    color:#4158d0;
  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #4158d0;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #fff;
}
.circle .left .progress{
    z-index:1;
    animation: left 90s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 90s linear both;
    animation-delay:90s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }  
      /*  */
      /*  */

      .circular1{
        height:100px;
        width: 100px;
        position: relative;  
        border: green 1px;
    
      }
      .circular1 .inner1{
        position: absolute;
        z-index: 6;
        top: 50%;
        left: 50%;
        height: 80px;
        width: 80px;
        margin: -40px 0 0 -40px;
        background: white;
        border-radius: 100%;
      }
      .circular1 .number1{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index:10;
        font-size:18px;
        font-weight:500;
        color:#4158d0;
      }
      .circular1 .bar1{
        position: absolute;
        height: 100%;
        width: 100%;
        background: #4158d0;
        -webkit-border-radius: 100%;
        clip: rect(0px, 100px, 100px, 50px);
      }
      .circle1 .bar1 .progress1{
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-border-radius: 100%;
        clip: rect(0px, 50px, 100px, 0px);
        background: #fff;
    }
    .circle1 .left1 .progress1{
        z-index:1;
        animation: left 85s linear both;
      }
      @keyframes left{
        100%{
          transform: rotate(180deg);
        }
      }
      .circle1 .right1 {
        transform: rotate(180deg);
        z-index:3;
       
      }
      .circle1 .right1 .progress1{
        animation: right 85s linear both;
        animation-delay:85s;
      }
      @keyframes right{
        100%{
          transform: rotate(180deg);
        }
      }  
